
Cureos.Numerics/_ReSharper.Cureos.Numerics/
*.dotCover
*.user
*.suo
*.vs10x
Cureos.Numerics/Cureos.Numerics/bin/
Cureos.Numerics/Cureos.Numerics/obj/
Cureos.Numerics/hs071_cs/bin/
Cureos.Numerics/hs071_cs/obj/
Cureos.Numerics/hs071_sl/Bin/
Cureos.Numerics/hs071_sl/obj/
Cureos.Numerics/SL.Cureos.Numerics/Bin/
Cureos.Numerics/SL.Cureos.Numerics/obj/
/desktop.ini
/git.ico
/hs071_*.exe
Ipopt*.dll
/Cureos.Numerics.dll
/hs071.txt